/* Element center alignment */
.container {
    display: grid;           /* Enable Grid layout */
    justify-items: center;   /* Horizontally centers content */
    align-items: start;      /* Aligns items to the top */
    margin: 0;               /* Remove default margin */
}

.center {
    display: grid;           /* Enable Grid layout */
    justify-items: center;   /* Horizontally centers content */
    align-items: start;      /* Aligns items to the top */
    margin: 0;               /* Remove default margin */
}

.button-style{
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    align-items: center;
}

/* Table styling */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    position: relative;
}

.styled-table tbody tr:last-of-type::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
