/* Importing Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: white;
    padding: 10px 20px;
}

.navbar .brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav-links {
    display: flex;
    gap: 20px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #00aaff;
}

/* Footer styles */
.footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}